.tabz-content {
    padding: 0px 0 0 0;
}

.h3Heading {
    color: #000;
    text-align: left;
    font-size: 1.28em;
    text-transform: uppercase; 
    font-weight: 600;
    padding: 15px 15px;
     display: inline-block; 
}

.space-lft-right {
    padding: 0px 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    margin-bottom: 15px;
}

.orders-list .items {
    background: #f5f3f3;
    border: solid 1px #ddd;
    display: block;
    position: relative;
    padding: 10px 15px;
}

a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.orders-list .txt-big {
    color: #2f2f30;
    font-size: 1.78em;
    font-weight: 600;
    line-height: 1;
}

.orders-list p {
    color: #5a5a5a;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    margin: 0;
    line-height: 1.5;
    font-size: 1em;
}

.tbl-dashboard {
    border-top: solid 1px #ddd;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tbl-dashboard .tbl-left {
    display: table-cell;
    width: 736px;
    border-right: solid 1px #ddd;
    vertical-align: top;
}

.box-head {
    display: inline-block;
    width: 100%;
}

.graph {
    padding: 15px 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tbl-dashboard .tbl-right {
    display: table-cell;
    vertical-align: top;
    width: 287px;
    background: #f5f3f3;
}

.total-stat {
    padding: 15px;
    text-align: center;
}

.total-stat .small-box {
    width: 97px;
    display: inline-block;
    border: solid 1px #2f2f30;
    border-radius: 2px;
    margin: 0 2px;
}

.total-stat .small-box .caption {
    position: relative;
    background: #2f2f30;
}

.total-stat .small-box .caption {
    min-height: 40px;
    background: #2f2f30;
    color: #fff;
    font-size: 0.928em;
    line-height: 1;
    padding: 4px 4px;
    text-align: center;
}

.total-stat .small-box .count {
    color: #2f2f30;
    font-size: 1.7em;
    text-align: center;
    font-weight: 700;
    padding: 10px 5px;
    background: #fff;
}

.total-stat .total-earning {
    border: solid 10px #2f2f30;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.total-stat .total-earning .count {
    color: #2f2f30;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    background: #fff;
}

.total-stat .total-earning .count .svg-icn svg {
    width: 30px;
    height: 30px;
}

.total-stat a.btn {
    display: block;
    margin-bottom: 10px;
}

.btn.primary-btn {
    background: #FF0000;
    color: white;
}

.btn.secondary-btn {
    color: #FFFFFF;
    background: #757575;
}

.tbl-dashboard {
    border-top: solid 1px #ddd;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tbl-dashboard .tbl-left {
    display: table-cell;
    width: 736px;
    border-right: solid 1px #ddd;
    vertical-align: top;
}

.box-head {
    display: inline-block;
    width: 100%;
}

.leftHeading {
    color: #000;
    text-align: left;
    font-size: 1.28em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 15px;
    display: inline-block;
}

.btn-view {
    padding: 15px;
    float: right;
}

a.view-more {
    float: right;
    text-transform: uppercase;
    border-bottom: solid 1px #727272;
    white-space: nowrap;
    color: #727272;
    /* background: url(./assets/img/products/arrow-right.svg) no-repeat right 4px; */
    background-size: 9px;
    padding: 0px 15px 0px 0px;
    clear: both;
    display: inline-block;
    font-size: 0.857em;
}

.viewAllImg {
    width: 9%;
    float: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 2%;
}

a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.cart-tbl {
    border: solid 1px #ddd;
}

.cart-tbl {
    width: 100%;
    border: solid 1px #ddd;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cart-tbl td {
    padding: 10px 15px;
    vertical-align: top;
    border: solid 1px #ddd;
}

.cart-tbl .pro-image {
    width: 100px;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

img {
    max-width: 100%;
    display: block;
}

.cart-tbl .product-name {
    color: #000;
    font-size: 1.14em;
    margin-bottom: 5px;
}

ul {
    list-style: none outside;
}

ul, ol {
    margin-bottom: 0px;
}

ol, ul {
    list-style: none;
}

.cart-tbl .product-desc li {
    color: #656464;
    line-height: 1.5;
    font-size: 1em;
}

.cart-tbl .product-desc li strong {
    color: #000;
}

strong {
    font-weight: bold;
}

a.actions svg, a.actions img {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    display: inline-block;
    
}
a.actions{
    background-color: #FF0000;
}

a.actions {
    width: 34px;
    height: 34px;
    line-height: 38px;
    border-radius: 100%;
    background: #FF0000;
    display: inline-block;
    margin: 2px auto;
    text-align: center;
    padding: 0;
    vertical-align: top;
}

a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

a {
    color: #FF0000;
}

img {
    max-width: 100%;
    display: block;
}

.tbl-dashboard .tbl-right {
    display: table-cell;
    vertical-align: top;
    width: 287px;
    background: #f5f3f3;
}

.latestmsgHeading {
    color: #000;
    text-align: left;
    font-size: 1.28em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 15px;
    display: inline-block;
}

.message-list li {
    padding: 5px 20px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

.message-list li .pic {
    float: left;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    display: block;
    position: relative;
    margin-right: 10px;
}

.message-list li .pic img.img {
    border-radius: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

.message-list li .text {
    margin-left: 12px;
    position: relative;
}

.message-list li .text h4 {
    color: #393939;
    font-size: 1em;
    line-height: 1;
    text-transform: none;
    font-weight: normal;
    padding: 0px;
    margin: 0px 0 8px 0;
}

.message-list li .text p {
    color: #2f2f30;
    line-height: 1.3;
    font-size: 0.785em;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.message-list li .text a.readmore {
    position: absolute;
    right: 0;
    top: 0;
}

