<div class="tabz-content">
    <h3 class="h3Heading">
        Your Product sales </h3>
    <div class="space-lft-right">
        <div class="orders-list row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                <div class="items"><a href="javascript:void(0);"><span class="txt-big">&#x20B9;0.00</span>
                        <p>Total Sales</p>
                    </a> </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                <div class="items">
                    <a><span class="txt-big">&#x20B9;0.00 </span>
                        <p>Account Balance</p></a>
                </div>
            </div>
            <a routerLink="/dashboard/orders">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column">
                    <div class="items">
                        <span class="txt-big">{{ordersLength}}</span>
                            <p>Total Orders</p>

                    </div>
                </div>
            </a>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                <div class="items">
                    <a href="javascript:void(0)"><span class="txt-big">0</span>
                        <p>Total Sold Qty</p>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div class="tbl-dashboard">
        <div class="tbl-left">
            <div class="box-head">
            </div>
            <div id="graph_parent">
                <div class="graph" id="monthlysalesearnings">
                    <div style="position: relative;">
                        <div dir="ltr" style="position: relative; width: 740px; height: 380px;">
                            <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart.">
                                <svg width="740" height="380" aria-label="A chart." style="overflow: hidden;">
                                    <defs id="defs">
                                        <clipPath id="_ABSTRACT_RENDERER_ID_0">
                                            <rect x="126" y="73" width="489" height="235"></rect>
                                        </clipPath>
                                    </defs>
                                    <rect x="0" y="0" width="740" height="380" stroke="none" stroke-width="0" fill="#ffffff"></rect>
                                    <g>
                                        <text text-anchor="start" x="126" y="50.05" font-family="Arial" font-size="13" font-weight="bold" stroke="none" stroke-width="0"
                                            fill="#000000">Sales Earnings Last 12 Months</text><rect
                                            x="126" y="39" width="489" height="13" stroke="none" stroke-width="0" fill-opacity="0"
                                            fill="#ffffff"></rect>
                                    </g>
                                    <g>
                                        <rect x="628" y="73" width="99" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                        <g>
                                            <rect x="628" y="73" width="99" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                            <g><text text-anchor="start" x="659" y="84.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#222222">Earnings</text></g>
                                            <rect x="628" y="73" width="26" height="13" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <rect x="126" y="73" width="489" height="235" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                        <g clip-path="url(https://demo.yo-kart.com/account/dashboard_supplier#_ABSTRACT_RENDERER_ID_0)">
                                            <g>
                                                <rect x="126" y="307" width="489" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                                <rect x="126" y="249" width="489" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                                <rect x="126" y="190" width="489" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                                <rect x="126" y="132" width="489" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                                <rect x="126" y="73" width="489" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                            </g>
                                            <g>
                                                <rect x="134" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="175" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="216" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="256" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="297" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="338" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="378" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="419" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="460" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="500" y="133" width="25" height="174" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="541" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                                <rect x="582" y="307" width="25" height="0.5" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                            </g>
                                            <g>
                                                <rect x="126" y="307" width="489" height="1" stroke="none" stroke-width="0" fill="#333333"></rect>
                                            </g>
                                        </g>
                                        <g></g>
                                        <g>
                                            <g><text text-anchor="middle" x="146.83333333333334" y="327.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">Jul-18</text></g>
                                            <g><text text-anchor="middle" x="187.5" y="344.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#222222">Jun-18</text></g>
                                            <g><text text-anchor="middle" x="228.16666666666666" y="327.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">May-18</text></g>
                                            <g><text text-anchor="middle" x="268.8333333333333" y="344.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">Apr-18</text></g>
                                            <g><text text-anchor="middle" x="309.5" y="327.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#222222">Mar-18</text></g>
                                            <g><text text-anchor="middle" x="350.16666666666663" y="344.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">Feb-18</text></g>
                                            <g><text text-anchor="middle" x="390.8333333333333" y="327.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">Jan-18</text></g>
                                            <g><text text-anchor="middle" x="431.5" y="344.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#222222">Dec-17</text></g>
                                            <g><text text-anchor="middle" x="472.16666666666663" y="327.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">Nov-17</text></g>
                                            <g><text text-anchor="middle" x="512.8333333333333" y="344.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">Oct-17</text></g>
                                            <g><text text-anchor="middle" x="553.5" y="327.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#222222">Sep-17</text></g>
                                            <g><text text-anchor="middle" x="594.1666666666666" y="344.05" font-family="Arial"
                                                    font-size="13" stroke="none" stroke-width="0" fill="#222222">Aug-17</text></g>
                                            <g><text text-anchor="end" x="113" y="312.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#444444">0</text></g>
                                            <g><text text-anchor="end" x="113" y="253.55" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#444444">100</text></g>
                                            <g><text text-anchor="end" x="113" y="195.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#444444">200</text></g>
                                            <g><text text-anchor="end" x="113" y="136.55" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#444444">300</text></g>
                                            <g><text text-anchor="end" x="113" y="78.05" font-family="Arial" font-size="13"
                                                    stroke="none" stroke-width="0" fill="#444444">400</text></g>
                                        </g>
                                    </g>
                                    <g>
                                        <g><text text-anchor="middle" x="370.5" y="367.55" font-family="Arial" font-size="13"
                                                font-style="italic" stroke="none" stroke-width="0" fill="#222222">Duration</text><rect
                                                x="126" y="356.5" width="489" height="13" stroke="none" stroke-width="0" fill-opacity="0"
                                                fill="#ffffff"></rect>
                                        </g>
                                        <g><text text-anchor="middle" x="50.05" y="190.5" font-family="Arial" font-size="13"
                                                font-style="italic" transform="rotate(-90 50.05 190.5)" stroke="none" stroke-width="0"
                                                fill="#222222">Sales Earnings</text><path d="M38.99999999999999,308L39.00000000000001,73L52.00000000000001,73L51.99999999999999,308Z"
                                                stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></path>
                                        </g>
                                    </g>
                                    <g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Duration</th>
                                                <th>Earnings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Jul-18</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Jun-18</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>May-18</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Apr-18</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Mar-18</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Feb-18</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Jan-18</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Dec-17</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Nov-17</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Oct-17</td>
                                                <td>300</td>
                                            </tr>
                                            <tr>
                                                <td>Sep-17</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Aug-17</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" style="display: none; position: absolute; top: 390px; left: 750px; white-space: nowrap; font-family: Arial; font-size: 13px;">
                            Earnings</div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tbl-right">
            <div class="total-stat">
                <div class="small-box">
                    <div class="caption">
                        Total Products </div>
                    <div class="count">
                        {{totalProd}} </div>
                </div>
                <div class="small-box">
                    <div class="caption">
                        Sold <br> Quantity </div>
                    <div class="count">
                        0 </div>
                </div>
                <div class="total-earning">
                    <div class="count"><i class="svg-icn">
                        </i> <br> &#x20B9;0.00 </div>
                    <p><strong>Account Balance</strong></p>
                </div>
                <a href="/account/request_withdrawal" class="btn primary-btn">
                    Withdraw Money </a>
                <a [routerLink]="['/dashboard/add-product']" class="btn secondary-btn">
                    Add Product in Shop </a>
            </div>
        </div>
    </div>


    <div class="tbl-dashboard">
        <div class="tbl-left">
            <div class="box-head">
                <h3 class="leftHeading">
                    Latest Orders </h3>
                <div class="btn-view">
                    <a routerLink="/dashboard/orders" class="view-more">
                        View All </a>
                    <img src="../assets/img/products/arrow-right.svg" class="viewAllImg" routerLink="/dashboard/orders">
                </div>
            </div>
            <div class="data-side">
            <div class="space-lft-right">
                    <div class="wrapform" style="text-align:center;" *ngIf="!latest">
                      <img src="./assets/img/product.png" style="width: 100px;" />
                
                      <h5>You haven't recieved any order yet!</h5>
                      <br />
                    </div>

                    <div class="panel panel-default" *ngIf="latestOrders && latestOrders.length > 0">
                    
                  <div class="panel-body" *ngFor="let order of latestOrders">
                   <strong> Order Id : </strong>{{order._id}}<br>
                   <strong>{{order.status}}</strong><br>
                   <strong> Delivery Address : </strong>{{order.contact_name}}<br>
                   {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
                   <strong> Total : </strong>&#x20B9;{{order.total_amount}}
                   <!-- <th>
                    <a [routerLink]="['/dashboard/order',order._id]" class='btn btn-info btn-square-icon' title="View Order"><i
                        class='fa fa-eye'></i></a>
                    
                  </th> -->
                    <div class="clearfix"></div>
                    <br>
                    <div class="table-responsive">
                      <div class="bs-component">
                        <table class="table btn-gradient-grey">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Image</th>
                              <th>Color</th>
                              <th>Quantity</th>
                              <th>Size</th>
                              <th>Unit Price</th>
                              <!-- <th>Discount Price</th> -->
                              <!-- <th>Action</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of order.products; let i =  index">
                              <th>{{ i+1 }}</th>
                              <th>{{ product.product_id.name }}</th>
                              <th><img src="http://{{ product.product_id.mainImage }}" style="max-height:100px"></th>
                              <!-- <th>{{ product.product.aprice }}</th> -->
                              <th><span
                                style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':product.color}">&nbsp;</span></th>
                              <th>{{ product.quantity }}</th>
                              <th>{{ product.size }}</th>
                              <th>&#x20B9;{{ product.product_id.dprice }}</th>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <!-- <div class="tbl-right">
            <h3 class="latestmsgHeading">
                Latest Messages </h3>
            <div class="message-list">

                <ul>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                ok </p>
                            <a class="readmore" href="/account/view_message/45/72"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                hello abcd abcd abbcd </p>
                            <a class="readmore" href="/account/view_message/45/71"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                yes </p>
                            <a class="readmore" href="/account/view_message/45/69"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                Whoa, where can I buy this? </p>
                            <a class="readmore" href="/account/view_message/45/67"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                mona </h4>
                            <p>
                                Thanks </p>
                            <a class="readmore" href="/account/view_message/35/55"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                hi </p>
                            <a class="readmore" href="/account/view_message/37/53"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                test </p>
                            <a class="readmore" href="/account/view_message/37/50"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                mona </h4>
                            <p>
                                Hello maxixx,please send me tracking number of my order </p>
                            <a class="readmore" href="/account/view_message/35/48"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                Your message to merchant </p>
                            <a class="readmore" href="/account/view_message/30/40"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img class="img" alt="" src="./assets/img/users/THUMB">
                        </div>
                        <div class="text">
                            <h4>
                                maxixx </h4>
                            <p>
                                Your Message Reply details will be written here. </p>
                            <a class="readmore" href="/account/view_message/29/39"><img alt="" src="/images/reammore.png"></a>
                        </div>
                    </li>
                </ul>


            </div>
        </div> -->
    </div>


</div>