<div class="data-side">
  <h3>Orders</h3>
  <div class="space-lft-right">
    <div class="wrapform" style="text-align:center;" *ngIf="!list">
      <img src="./assets/img/product.png" style="width: 100px;" />

      <h5>You haven't recieved any order yet!</h5>
      <br />
    </div>

    <div class="wrapform" *ngIf="list">
      <div class="card">
        <div class="sectionbody" id="users-list">
         
            <div class="col-xs-12">


                <div class="panel panel-default" *ngIf="nonCompOrders && nonCompOrders.length > 0">
                    <header class="entry-header">
                        <h1 itemprop="name" class="entry-title">Pending Orders</h1>
                    </header>
                  <div class="panel-body" *ngFor="let order of nonCompOrders">
                   <strong> Order Id : </strong>{{order._id}}<br>
                   <strong>{{order.status}}</strong><br>
                   <strong> Delivery Address : </strong>{{order.contact_name}}<br>
                   {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
                   <strong> Total : </strong>&#x20B9;{{order.total_amount}}
                   <th>
                    <a [routerLink]="['/dashboard/order',order._id]" class='btn btn-info btn-square-icon' title="View Order"><i
                        class='fa fa-eye'></i></a>
                    <a (click)="openDeleteModel(content,order._id)" class='btn btn-danger btn-square-icon' title="Change Order Status"><i
                        class='fa fa-edit'></i></a>
                  </th>
                    <div class="clearfix"></div>
                    <br>
                    <div class="table-responsive">
                      <div class="bs-component">
                        <table class="table btn-gradient-grey">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Image</th>
                              <th>Color</th>
                              <th>Quantity</th>
                              <th>Size</th>
                              <th>Unit Price</th>
                              <!-- <th>Discount Price</th> -->
                              <!-- <th>Action</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of order.products; let i =  index">
                              <th>{{ i+1 }}</th>
                              <th>{{ product.product_id.name }}</th>
                              <th><img src="http://{{ product.product_id.mainImage }}" style="max-height:100px"></th>
                              <!-- <th>{{ product.product.aprice }}</th> -->
                              <th><span
                                style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':product.color}">&nbsp;</span></th>
                              <th>{{ product.quantity }}</th>
                              <th>{{ product.size }}</th>
                              <th>&#x20B9;{{ product.product_id.dprice }}</th>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default" *ngIf="cancelOrders && cancelOrders.length > 0">
                    <header class="entry-header">
                        <h1 itemprop="name" class="entry-title">Cancelled Orders</h1>
                    </header>
                  <div class="panel-body" *ngFor="let order of cancelOrders">
                   <strong> Order Id : </strong>{{order._id}}<br>
                   <strong>{{order.status}}</strong><br>
                   <strong> Delivery Address : </strong>{{order.contact_name}}<br>
                   {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
                   <strong> Total : </strong>&#x20B9;{{order.total_amount}}
                   <th>
                    <a [routerLink]="['/dashboard/order',order._id]" class='btn btn-info btn-square-icon' title="View Product"><i
                        class='fa fa-eye'></i></a>
                    <!-- <a (click)="openDeleteModel(content,order)" class='btn btn-danger btn-square-icon' title="Cancel Order"><i
                        class='fa fa-trash'></i></a> -->
                  </th>
                    <div class="clearfix"></div>
                    <br>
                    <div class="table-responsive">
                      <div class="bs-component">
                        <table class="table btn-gradient-grey">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Image</th>
                              <th>Color</th>
                              <th>Quantity</th>
                              <th>Size</th>
                              <th>Unit Price</th>
                              <!-- <th>Discount Price</th> -->
                              <!-- <th>Action</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of order.products; let i =  index">
                              <th>{{ i+1 }}</th>
                              <th><span class="clickable">{{ product.product_id.name }}</span></th>
                              <th><span class="clickable"><img src="http://{{ product.product_id.mainImage }}" style="max-height:100px"></span></th>
                              <!-- <th>{{ product.product.aprice }}</th> -->
                              <th><span
                                style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':product.color}">&nbsp;</span></th>
                              <th>{{ product.quantity }}</th>
                              <th>{{ product.size }}</th>
                              <th>&#x20B9;{{ product.product_id.dprice }}</th>
                             
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default" *ngIf="compOrders && compOrders.length > 0">
                    <header class="entry-header">
                        <h1 itemprop="name" class="entry-title">Delivered Orders</h1>
                    </header>
                  <div class="panel-body" *ngFor="let order of compOrders">
                   <strong> Order Id : </strong>{{order._id}}<br>
                   <strong>{{order.status}}</strong><br>
                   <strong> Delivery Address : </strong>{{order.contact_name}}<br>
                   {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
                   <strong> Total : </strong>&#x20B9;{{order.total_amount}}
                   <th>
                    <a [routerLink]="['/dashboard/order',order._id]" class='btn btn-info btn-square-icon' title="View Product"><i
                        class='fa fa-eye'></i></a>
                    <!-- <a (click)="openDeleteModel(content,order)" class='btn btn-danger btn-square-icon' title="Cancel Order"><i
                        class='fa fa-trash'></i></a> -->
                  </th>
                    <div class="clearfix"></div>
                    <br>
                    <div class="table-responsive">
                      <div class="bs-component">
                        <table class="table btn-gradient-grey">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Image</th>
                              <th>Color</th>
                              <th>Quantity</th>
                              <th>Size</th>
                              <th>Unit Price</th>
                              <!-- <th>Discount Price</th> -->
                              <!-- <th>Action</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of order.products; let i =  index">
                              <th>{{ i+1 }}</th>
                              <th><span class="clickable">{{ product.product_id.name }}</span></th>
                              <th><span class="clickable"><img src="http://{{ product.product_id.mainImage }}" style="max-height:100px"></span></th>
                              <!-- <th>{{ product.product.aprice }}</th> -->
                              <th><span
                                style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':product.color}">&nbsp;</span></th>
                              <th>{{ product.quantity }}</th>
                              <th>{{ product.size }}</th>
                              <th>&#x20B9;{{ product.product_id.dprice }}</th>
                             
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default" *ngIf="allOrders && allOrders.length > 0">
                    <header class="entry-header">
                        <h1 itemprop="name" class="entry-title">All Orders</h1>
                    </header>
                  <div class="panel-body" *ngFor="let order of allOrders">
                   <strong> Order Id : </strong>{{order._id}}<br>
                   <strong>{{order.status}}</strong><br>
                   <strong> Delivery Address : </strong>{{order.contact_name}}<br>
                   {{order.address}}, {{order.city}}- {{order.pincode}}, {{order.state}}, {{order.country}}<br>
                   <strong> Total : </strong>&#x20B9;{{order.total_amount}}
                   <th>
                    <a [routerLink]="['/dashboard/order',order._id]" class='btn btn-info btn-square-icon' title="View Product"><i
                        class='fa fa-eye'></i></a>
                    <!-- <a (click)="openDeleteModel(content,order)" class='btn btn-danger btn-square-icon' title="Cancel Order"><i
                        class='fa fa-trash'></i></a> -->
                  </th>
                    <div class="clearfix"></div>
                    <br>
                    <div class="table-responsive">
                      <div class="bs-component">
                        <table class="table btn-gradient-grey">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Image</th>
                              <th>Color</th>
                              <th>Quantity</th>
                              <th>Size</th>
                              <th>Unit Price</th>
                              <!-- <th>Discount Price</th> -->
                              <!-- <th>Action</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of order.products; let i =  index">
                              <th>{{ i+1 }}</th>
                              <th><span class="clickable">{{ product.product_id.name }}</span></th>
                              <th><span class="clickable"><img src="http://{{ product.product_id.mainImage }}" style="max-height:100px"></span></th>
                              <!-- <th>{{ product.product.aprice }}</th> -->
                              <th><span
                                style="width: 80px;display: inline-block; margin: 0 10px;" [ngStyle]="{'background-color':product.color}">&nbsp;</span></th>
                              <th>{{ product.quantity }}</th>
                              <th>{{ product.size }}</th>
                              <th>&#x20B9;{{ product.product_id.dprice }}</th>
                             
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>



                <div id="orderstatus_modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <b>CHANGE ORDER STATUS</b>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form #updateShop="ngForm">
                            
                                    <div class="form-group">
                                        <td>
                                            <table class="smalltable">
                                                <tbody>
                                                    <tr>
                                                        <td> <input type="radio" name="shop_vendor_display_status" value="Cancelled" title="Display Status" (change)="selectStatus($event.target.value)"> Cancel</td><br><br>&nbsp;
                                                        <td> <input type="radio" name="shop_vendor_display_status" value="Pending" title="Display Status" (change)="selectStatus($event.target.value)"> Dispatched</td><br><br>&nbsp;
                                                        <td> <input type="radio" name="shop_vendor_display_status" value="Completed" title="Display Status" (change)="selectStatus($event.target.value)"> Delivered</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <small>Keep it acurate as it will display to the buyer.</small>
                                        </td>
                                    </div><br>
                                    <input type="button" class="btn btn-primary" value="Change" (click)="changeOrderStatus()" data-dismiss="modal">&nbsp;
                                    <input type="button" class="btn btn-danger" value="Cancel" data-dismiss="modal">
                                </form>	
                            </div>
                        </div>
                    </div>
                </div>
                




              </div>
          
        </div>
      </div>
    </div>


  </div>
</div>



    
   
    
    


