.data-side {
    vertical-align: top;
    display: table-cell;
    width: 1028px;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    padding-bottom: 20px;
}
div,table,tbody,tr,label,td,img {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.choose_file {
    position: relative;
    display: inline-block;
    border: solid 1px #ccc;
    color: #7f7f7f;
    background: #fff;
    cursor: pointer !important;
    font-size: 0.875em;
    padding: 6px 7px;
    min-height: inherit;
    line-height: 1.5;
    width: 15%;
    height: 31px;
    vertical-align: top;
}
.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer !important;
}
.siteForm input[type="text"], .siteForm input[type="file"], .siteForm input[type="password"], .siteForm select, .siteForm textarea {
    background: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 0px 5px;
    border: 1px solid #e1dfdf;
    height: 40px;
    line-height: 38px;
    border-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    margin-bottom: 9px;
    position: relative;
}
.siteForm input[type="submit"]{
    background: #FF0000;
}
input[type="submit"], .siteForm input[type="button"], .siteForm button {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    touch-action: manipulation;
    cursor: pointer;
    border: solid 1px transparent;
    white-space: nowrap;
    padding: 0px 15px;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
    color: #fff;
}
input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
}
.siteForm .spn_must_field {
    display: inline-block;
}
.spn_must_field {
    color: #f00 !important;
    padding: 0px 3px;
}

.mandatory, .spn_must_field {
    color: red;
}
input, select, textarea {
    outline: none;
    font-family: inherit;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.marginLeft {
    margin-left: 10px;
    display: inline-block;
}
a.btn.small {
    font-size: 0.875em;
    padding: 5px 7px;
    min-height: inherit;
    line-height: 1.5;
    height: auto;
}
a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.btn--primary, input[type="submit"].btn--primary {
    background: #ff0000;
    color: #fff;
}
.btn,a.btn{
    background: #FF0000;
}
.btn, .form input[type="submit"], .form input[type="button"], .form button, .siteForm input[type="submit"], .siteForm input[type="button"], .siteForm button {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    touch-action: manipulation;
    cursor: pointer;
    border: solid 1px transparent;
    white-space: nowrap;
    padding: 0px 15px;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
    color: #fff;
}
table.tbl-twocell td:first-child {
    padding-right: 20px;
}
table.tbl-twocell td:first-child {
    padding-right: 20px;
}
.siteForm table td {
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 10px;
}
.siteForm table td {
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 10px;
}
.uploadedphoto {
    width: 75px;
    height: 75px;
    border: 5px solid #fff;
    border-radius: 100%;
    margin: 0 20px 15px 0;
    text-align: center;
}
.uploadedphoto img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    margin-bottom: 5px;
}
img {
    max-width: 100%;
    display: block;
}
.tabz-dashboard .tabz-ul {
    position: relative;
    top: -51px;
    margin-bottom: -50px;
    display: block;
    height: 50px;
    margin-left: 170px;
    display: table;
}

ul {
    list-style: none outside;
}
ul, ol {
    margin-bottom: 0px;
}
ol, ul {
    list-style: none;
}
.tabz-dashboard .tabz-ul li {
    border: solid 1px transparent;
    cursor: pointer;
    color: #fff;
    border-bottom: none;
    font-size: 1.28em;
    /* text-transform: uppercase; */
    display: inline-block;
    background: #727272;
    background: #b6b6b6;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    margin: 0px 5px;
}
li {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
.tabz-dashboard .tabz-ul li a {
    color: #fff;
    display: block;
    padding: 0px 60px;
    line-height: 50px;
    text-decoration: none;
}

a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.box-head {
    display: inline-block;
    width: 100%;
}
.data-side h3 {
    color: #000;
    text-align: left;
    font-size: 1.28em;
    /* text-transform: uppercase; */
    font-weight: 600;
    padding: 15px 15px;
    /* display: inline-block; */
}
.box-head h3 {
    display: inline-block;
}
h3 {
    text-transform: none;
    margin: 0;
    line-height: normal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
}
.btn-view {
    padding: 15px;
    float: right;
}
.arrowTabs {
    display: inline-block;
    margin: 0 0px 15px 15px;
}
ul{
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.arrowTabs li {
    float: left;
    position: relative;
    margin: 0 0 0 -1px;
}
li {
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    display: list-item;
    text-align: -webkit-match-parent;
}
.arrowTabs li:first-child a {
    border-radius: 3px 0 0 3px;
}
.arrowTabs li.active a {
    background: #727272;
    color: #FFF;
}
.arrowTabs li a {
    position: relative;
    height: 36px;
    display: block;
    padding: 0 15px;
    line-height: 33px;
    font-size: 1.071em;
    border: 1px solid #727272;
    color: #727272;
}
.space-lft-right {
    padding: 0px 15px;
}
.wrapform {
    width: 100%;
    border: 1px solid #ddd;
    background: #f1f0f0;
    padding: 15px;
    margin: 0 0 20px 0;
    position: relative;
}
.siteForm {
    padding: 0px;
    margin: 0px 0 0px 0;
    border: none;
}
.siteForm table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}