<div class="data-side">
    <div class="tabz-dashboard no-print">
    </div>
    <div class="box-head">
        <h3>Account Information</h3>
        <div class="btn-view"></div>
    </div>
    <div class="arrowTabs-wrapper">
        <ul class="arrowTabs setactive-js">
            <li class="active"><a [routerLink]="['/dashboard/account-information']">Personal Information</a>
            </li>
            <!--  <li>
                    <a [routerLink]="['/dashboard/bank-account-information']">Bank Account Info</a>
                </li> -->
            <li>
                <a [routerLink]="['/dashboard/change-password']">Change Password</a>
            </li>
            <!-- <li>
                  <a [routerLink]="['/dashboard/change-email']">Change Email</a>
              </li> -->
        </ul>
    </div>
    <div class="space-lft-right">
        <div class="wrapform">
            <form method="post" action="" name="frmProfile" id="frmProfile" enctype="multipart/form-data" class="siteForm" autocomplete="off">
                <table class="tbl-twocell">
                    <tbody>
                        <tr>
                            <td width="30%"><label>Profile Picture</label></td>
                            <td>
                                <div class="uploadedphoto" *ngIf="seller?.image"><img alt=""
                                        src="http://{{seller.image}}" id="dpic"></div>
                                <div class="uploadedphoto" *ngIf="!seller?.image"><img alt=""
                                        src="./assets/img/users/THUMB" id="dpic"></div>
                                <div class="choose_file"><span *ngIf="seller?.image">Change Photo</span><span *ngIf="!seller?.image">Upload Photo</span><input
                                        type="file" name="user_profile_image" id="user_profile_image"
                                        (change)="updateProfileBtn($event.target.files)" class="upload"
                                        title="Profile Picture"></div>
                                <div *ngIf="seller?.image" class="marginLeft"><a class="btn btn--primary btn--small small"
                                        id="picRemove" (click)="removeProfileImage()">Remove</a></div>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <!-- <input type="hidden" name="update_profile_img" id="update_profile_img" value="Update Profile Picture" title="">
                    <input type="hidden" name="rotate_left" id="rotate_left" value="Rotate Left" title="">
                    <input type="hidden" name="rotate_right" id="rotate_right" value="Rotate Right" title="">
                    <input type="hidden" name="remove_profile_img" id="remove_profile_img" value="0" title="">
                    <input type="hidden" name="action" id="avatar-action" value="avatar" title="">
                    <input type="hidden" name="img_data" id="img-data" value="" title=""> -->
            </form>
            <br>
            <form #updateProfile="ngForm" name="frmProfileInfo" id="frmProfileInfo" class="siteForm" autocomplete="off">
                <table class="tbl-twocell">
                    <tbody>
                        <tr>
                            <td width="30%" colspan="2"><span class="panelTitleHeading">Personal Information</span><br></td>
                        </tr>
                        <tr>
                            <td width="30%"><label>Email</label></td>
                            <td><input style="border:none;width: 665px;" disabled="disabled" name="email" id="email"
                                    [(ngModel)]="seller.email" #nameEle="ngModel"></td>
                        </tr>
                        <tr>
                            <td width="30%"><label>Name</label><span class="spn_must_field">*</span></td>
                            <td><input type="text" name="name" id="name" [(ngModel)]="seller.name" #nameEle="ngModel" placeholder="Enter Name"
                                    autofocus type="text" required minlength="3">
                                <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
                                    Please Enter Valid Name</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%"><label>Phone Number</label><span class="spn_must_field">*</span></td>
                            <td><input type="text" name="phone" id="phone" [(ngModel)]="seller.phone" #phoneEle="ngModel"
                                    placeholder="Enter Phone Number" type="text" required minlength="10">
                                <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
                                    Please Enter Valid Phone Number</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%"><label>Country</label><span class="spn_must_field">*</span></td>
                            <td><select name="country" title="Country" id="country" [(ngModel)]="seller.country" #countryEle="ngModel"
                                    type="text" required>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                                    <!-- <option value="6">Angola</option><option value="7">Anguilla</option><option value="8">Antartica</option><option value="9">Antigua and Barbuda</option><option value="10">Argentina</option><option value="11">Armenia</option><option value="12">Aruba</option><option value="13">Ashmore and Cartier Island</option> -->
                                    <option value="Australia">Australia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Azerbaijan">Azerbaijan</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Bahrain">Bahrain</option>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Barbados">Barbados</option>
                                    <option value="Belarus">Belarus</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Belize">Belize</option>
                                    <option value="Benin">Benin</option>
                                    <option value="Bermuda">Bermuda</option>
                                    <option value="Bhutan">Bhutan</option><!-- <option value="27">Bolivia</option><option value="28">Bosnia and Herzegovina</option><option value="29">Botswana</option><option value="30">Brazil</option><option value="31">British Virgin Islands</option><option value="32">Brunei</option><option value="33">Bulgaria</option><option value="34">Burkina Faso</option><option value="35">Burma</option><option value="36">Burundi</option> -->
                                    <option value="Cambodia">Cambodia</option>
                                    <option value="Cameroon">Cameroon</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Cape Verde">Cape Verde</option><!-- <option value="41">Cayman Islands</option><option value="42">Central African Republic</option><option value="43">Chad</option><option value="44">Chile</option><option value="45">China</option><option value="46">Christmas Island</option><option value="47">Clipperton Island</option><option value="48">Cocos (Keeling) Islands</option><option value="49">Colombia</option><option value="50">Comoros</option><option value="51">Congo</option><option value="52">Cook Islands</option><option value="53">Costa Rica</option><option value="54">Cote dIvoire</option><option value="55">Croatia</option><option value="56">Cuba</option><option value="57">Cyprus</option><option value="58">Czeck Republic</option> -->
                                    <option value="Denmark">Denmark</option>
                                    <option value="Djibouti">Djibouti</option>
                                    <!-- <option value="255">Doesnt Matter</option><option value="61">Dominica</option><option value="62">Dominican Republic</option><option value="63">Ecuador</option> -->
                                    <option value="Egypt">Egypt</option>
                                    <!-- <option value="65">El Salvador</option><option value="66">Equatorial Guinea</option><option value="67">Eritrea</option><option value="68">Estonia</option><option value="69">Ethiopia</option><option value="70">Europa Island</option><option value="Europe">Europe</option><option value="71">Falkland Islands (Islas Malvinas)</option>
        <option value="72">Faroe Islands</option><option value="73">Fiji</option><option value="74">Finland</option> -->
                                    <option value="France">France</option>
                                    <!-- <option value="76">French Guiana</option><option value="77">French Polynesia</option><option value="78">French Southern and Antarctic Lands</option><option value="79">Gabon</option><option value="80">Gambia</option><option value="81">Gaza Strip</option><option value="82">Georgia</option> -->
                                    <option value="Germany">Germany</option>
                                    <option value="Ghana">Ghana</option>
                                    <!-- <option value="85">Gibraltar</option><option value="86">Glorioso Islands</option><option value="87">Greece</option><option value="88">Greenland</option><option value="89">Grenada</option><option value="90">Guadeloupe</option><option value="91">Guam</option><option value="92">Guatemala</option><option value="93">Guernsey</option><option value="94">Guinea</option><option value="95">Guinea-Bissau</option><option value="96">Guyana</option><option value="97">Haiti</option><option value="98">Heard Island and McDonald Islands</option><option value="99">Holy See (Vatican City)</option><option value="100">Honduras</option> -->
                                    <option value="Hong Kong">Hong Kong</option>
                                    <option value="Howland Island">Howland Island</option>
                                    <option value="Hungary">Hungary</option>
                                    <option value="Iceland">Iceland</option>
                                    <option value="India" selected="selected">India</option>
                                    <option value="Indonesia">Indonesia</option>
                                    <option value="Iran">Iran</option>
                                    <option value="Iraq">Iraq</option>
                                    <!-- <option value="109">Ireland</option><option value="110">Israel</option><option value="111">Italy</option><option value="112">Jamaica</option><option value="113">Jan Mayen</option><option value="114">Japan</option><option value="115">Jarvis Island</option><option value="116">Jersey</option><option value="117">Johnston Atoll</option><option value="118">Jordan</option><option value="119">Juan de Nova Island</option><option value="120">Kazakhstan</option><option value="121">Kenya</option><option value="122">Kiribati</option><option value="123">Korea North</option><option value="124">Korea South</option><option value="125">Kuwait</option><option value="126">Kyrgyzstan</option><option value="127">Laos</option><option value="128">Latvia</option><option value="129">Lebanon</option><option value="130">Lesotho</option><option value="131">Liberia</option><option value="132">Libya</option><option value="133">Liechtenstein</option><option value="134">Lithuania</option><option value="135">Luxembourg</option><option value="136">Macau</option><option value="137">Macedonia</option><option value="138">Madagascar</option><option value="139">Malawi</option><option value="140">Malaysia</option><option value="141">Maldives</option><option value="142">Mali</option><option value="143">Malta</option><option value="144">Man Isle of</option><option value="145">Marshall Islands</option><option value="146">Martinique</option><option value="147">Mauritania</option><option value="148">Mauritius</option><option value="149">Mayotte</option><option value="150">Mexico</option><option value="151">Micronesia</option><option value="152">Midway Islands</option><option value="153">Moldova</option><option value="154">Monaco</option><option value="155">Mongolia</option><option value="156">Montserrat</option><option value="157">Morocco</option><option value="158">Mozambique</option><option value="159">Namibia</option><option value="160">Nauru</option><option value="161">Nepal</option><option value="162">Netherlands</option><option value="163">Netherlands Antilles</option><option value="164">New Caledonia</option><option value="165">New Zealand</option><option value="166">Nicaragua</option><option value="167">Niger</option><option value="168">Nigeria</option><option value="169">Niue</option><option value="171">No Man`s Island</option><option value="170">Norfolk Island</option><option value="172">Northern Mariana Islands</option><option value="173">Norway</option><option value="174">Oman</option><option value="254">Others</option> -->
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Palau">Palau</option>
                                    <!-- <option value="177">Panama</option><option value="178">Papua New Guinea</option><option value="179">Paraguay</option><option value="180">Peru</option><option value="181">Philippines</option><option value="182">Pitcaim Islands</option><option value="183">Poland</option><option value="184">Portugal</option><option value="185">Puerto Rico</option><option value="186">Qatar</option><option value="187">Reunion</option><option value="188">Romainia</option><option value="189">Russia</option><option value="190">Rwanda</option><option value="191">Saint Helena</option><option value="192">Saint Kitts and Nevis</option><option value="193">Saint Lucia</option><option value="194">Saint Pierre and Miquelon</option><option value="195">Saint Vincent and the Grenadines</option><option value="196">Samoa</option><option value="197">San Marino</option><option value="198">Sao Tome and Principe</option><option value="199">Saudi Arabia</option><option value="200">Scotland</option><option value="201">Senegal</option><option value="257">Serbia</option><option value="202">Serbia and Monterago</option><option value="203">Seychelles</option><option value="204">Sierra Leone</option><option value="205">Singapore</option><option value="206">Slovakia</option><option value="207">Slovenia</option><option value="208">Solomon Islands</option><option value="209">Somalia</option><option value="210">South Africa</option><option value="211">South Georgia and the South Sandwich Islandss</option><option value="212">Spain</option><option value="213">Spratly Islands</option><option value="214">SriLanka</option><option value="215">Sudan</option><option value="216">Suriname</option><option value="217">Svalbard</option><option value="218">Swaziland</option> -->
                                    <option value="Sweden">Sweden</option>
                                    <option value="Switzerland">Switzerland</option>
                                    <option value="Syria">Syria</option>
                                    <option value="Taiwan">Taiwan</option>
                                    <option value="Tajikistan">Tajikistan</option>
                                    <option value="Tanzania">Tanzania</option>
                                    <option value="Thailand">Thailand</option>
                                    <!-- <option value="227">Toga</option><option value="228">Tokelau</option><option value="229">Tonga</option><option value="226">Trinidad and Tobago</option><option value="230">Tunisia</option><option value="231">Turkey</option><option value="232">Turkmenistan</option><option value="233">Turks and Caicos Island</option><option value="234">Tuvalu</option><option value="235">Uganda</option><option value="236">Ukraine</option><option value="237">United Arab Emirates</option><option value="238">United Kingdom</option> -->
                                    <option value="United States">United States</option>
                                    <option value="Uruguay">Uruguay</option>
                                    <option value="Uzbekistan">Uzbekistan</option>
                                    <option value="Vanuatu">Vanuatu</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="Vietnam">Vietnam</option>
                                    <!-- <option value="245">Virgin Islands</option><option value="246">Wales</option><option value="247">Wallis and Futuna</option><option value="248">West Bank</option><option value="249">Western Sahara</option><option value="250">Yemen</option><option value="251">Yugoslavia</option><option value="252">Zambia</option><option value="253">Zimbabwe</option> -->
                                </select>
                                <span class='text-danger' *ngIf="countryEle.touched && countryEle.errors && countryEle.errors.required">*
                                    Please Select Country</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%"><label>State</label><span class="spn_must_field">*</span></td>
                            <td><select name="state" title="State" id="state" [(ngModel)]="seller.state" #stateEle="ngModel"
                                    type="text" required>>
                                    <option value="Andaman and Nicobar">Andaman and Nicobar</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkand">Jharkand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Lakshadeep">Lakshadeep</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Orissa">Orissa</option>
                                    <option value="Pondicherry">Pondicherry</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttaranchal">Uttaranchal</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option value="Others">Others</option>
                                </select>
                                <span class='text-danger' *ngIf="stateEle.touched && stateEle.errors && stateEle.errors.required">*
                                    Please Select State</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%"><label>City/ Town</label><span class="spn_must_field">*</span></td>
                            <td><input type="text" name="city" id="city" title="City/ Town" [(ngModel)]="seller.city" #cityEle="ngModel"
                                    placeholder="Enter City" type="text" required minlength="3">
                                <span class='text-danger' *ngIf="cityEle.touched && cityEle.errors && cityEle.errors.required">*
                                    Please Enter Valid City</span></td>
                        </tr>

                        <tr>
                            <td width="30%"><label>Address</label><span class="spn_must_field">*</span></td>
                            <td><textarea name="address" id="address" title="Address" [(ngModel)]="seller.address" #addressEle="ngModel"
                                    placeholder="Enter Address" type="text" required minlength="3"></textarea>
                                <span class='text-danger' *ngIf="addressEle.touched && addressEle.errors && addressEle.errors.required">*
                                    Please Enter Valid Address</span></td>
                        </tr>
                        <tr>
                            <td width="30%"><label>Pincode</label><span class="spn_must_field">*</span></td>
                            <td><input type="text" name="pincode" id="pincode" title="Pincode" [(ngModel)]="seller.pincode"
                                    #pincodeEle="ngModel" placeholder="Enter Pincode" type="text" required minlength="3">
                                <span class='text-danger' *ngIf="pincodeEle.touched && pincodeEle.errors && pincodeEle.errors.required">*
                                    Please Enter Valid Pincode</span></td>
                        </tr>


                        <tr>
                            <td width="30%"></td>
                            <td> <button type="submit" [disabled]="!updateProfile.form.valid" (click)="doUpdateProfile()"
                                    class="btn btn-danger">Save Changes
                                </button></td>
                        </tr>
                    </tbody>
                </table><input type="hidden" name="action" id="avatar-action" value="avatar" title=""><input type="hidden"
                    name="img_data" id="img-data" value="" title="">
            </form>
        </div>
    </div>
</div>