<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>Add Product</strong>
    </h3>
  </div>
  <div class="panel-body">
    <form role="form" #addProductForm="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input class="form-control" id="name" name="name" [(ngModel)]="product.name" #nameEle="ngModel" placeholder="Enter Product Name"
          autofocus type="text" >
        <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">* Please Enter Product
          Name
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Product Image</label>
        <input class="form-control" id="image" name="image" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg, image/jpg"
          [(ngModel)]="product.image" #imageEle="ngModel" #proImgEle="ngModel" placeholder="Enter Product Image" type="file">
        <image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
          [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>

        <img *ngIf="croppedImage" [src]="croppedImage" />
        <span class='text-danger' *ngIf="proImgEle.touched && proImgEle.errors && proImgEle.errors.required">* Please Select
          Product Image</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Actual Price</label>
        <input class="form-control" id="aprice" name="aprice" [(ngModel)]="product.aprice" #apriceEle="ngModel" placeholder="Enter Product Actual Price"
          type="text" >
        <span class='text-danger' *ngIf="apriceEle.touched && apriceEle.errors && apriceEle.errors.required">* Please Enter
          Product Actual Price</span>
        <span class='text-danger' *ngIf="apriceEle.touched && apriceEle.errors && apriceEle.errors.pattern">* Only numbers
          allowed
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Discount Price</label>
        <input class="form-control" id="dprice" name="dprice" [(ngModel)]="product.dprice" #dpriceEle="ngModel" placeholder="Enter Product Discount Price"
          type="text" >
        <span class='text-danger' *ngIf="dpriceEle.touched && dpriceEle.errors && dpriceEle.errors.required">* Please Enter
          Product Discount Price</span>
        <span class='text-danger' *ngIf="dpriceEle.touched && dpriceEle.errors && dpriceEle.errors.pattern">* Only numbers
          allowed
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Discription</label>
        <textarea class="form-control" id="description" name="product.description" [(ngModel)]="product.description" #descEle="ngModel"
          placeholder="Enter Product Description" ></textarea>
        <span class='text-danger' *ngIf="descEle.touched && descEle.errors && descEle.errors.required">* Please Enter Product
          Description
        </span>
      </div>
      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Color</label>
        <br>
        <input class='btn btn-default' style="min-height:40px;width:100px;margin-right:100px" [(colorPicker)]="color" [style.background]="color"
          [(colorPicker)]="color" (colorPickerClose)="selectColor(color)" />
        <button class='btn' style="height:40px;width:40px;margin-right:10px" [style.background]="color" *ngFor="let color of colors; let i = index"
          (click)="selectColor(color)"></button>
      </div>


      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Category</label>
        <select class="form-control" name="category" #category="ngModel" (change)="selectSubCategory($event.target.value)" 
          [(ngModel)]="product.category" title="category" id="gender">
          <option value="" selected>----- Select Category -----</option>
          <option value="{{cat._id}}" *ngFor="let cat of categories">{{cat.name}}</option>

        </select>
      </div>
      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Sub-Category</label>
        <select class="form-control" name="subcategory" #subcategory="ngModel"  [(ngModel)]="product.subcategory" title="subCategory"
          id="gender">
          <option value="" selected>----- Select Sub-Category -----</option>
          <option value="{{cat}}" *ngFor="let cat of subCategories">{{cat}}</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Product Quantity</label>
        <input class="form-control" id="quantity" name="quantity" pattern="[0-9]*" [(ngModel)]="product.quantity" #quantityEle="ngModel"
          placeholder="Enter Product Units" type="number" >
        <span class='text-danger' *ngIf="quantityEle.touched && quantityEle.errors && quantityEle.errors.required">* Please
          Enter Product Quantity</span>
        <span class='text-danger' *ngIf="quantityEle.touched && quantityEle.errors && quantityEle.errors.pattern">* Only
          numbers allowed</span>
      </div>

      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Quantity Type</label>
        <br>
        <select [(ngModel)]="product.quantityType" #quantityTypeEle="ngModel" name="quantityType" class="form-control">
          <option [value]="" selected>----- Select Quantity Type ----</option>
          <option>Unit</option>
          <option>Meter</option>
          <option>Kilogram</option>
        </select>
        <span class='text-danger' *ngIf="quantityTypeEle.touched && quantityTypeEle.errors && quantityTypeEle.errors.required">*
          Please Select Quantity Type</span>
      </div>

      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Gender</label>
        <br>
        <select [(ngModel)]="product.gender" #genderEle="ngModel" name="gender" class="form-control">
          <option [value]="" selected>----- Select Gender (Optional) -----</option>
          <option>Men</option>
          <option>Women</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Services</label>
        <br>
        <input value="Cash on delivery is availeble" (change)="selectServices($event.target.value)" checked style="position:relative; top:3px;"
          id="service-m" name="service" type="checkbox">&nbsp;<span>Cash on delivery is availeble</span><br>
        <input value="30 Days Return Policy" (change)="selectServices($event.target.value)" style="position:relative; top:3px;" id="service-m"
          name="service" type="checkbox">&nbsp;<span>30 Days Return Policy</span><br>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Size</label>
        <br>
        <span style='min-width:50px;display:inline-block'>S :</span><input value="s" id="size-s" name="size" type="checkbox"
          (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>M :</span><input value="m" id="size-m" name="size" type="checkbox"
          (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>L :</span><input value="l" id="size-l" name="size" type="checkbox"
          (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>XL :</span><input value="xl" id="size-xl" name="size" type="checkbox"
          (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>XXL :</span><input value="xxl" id="size-xxl" name="size" type="checkbox"
          (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>XXXL :</span><input value="xxxl" id="size-xxxl" name="size" type="checkbox"
          (change)="selectSize($event.target.value)"><br>

      </div>

      <!-- <div class="form-group col-md-4">
        <label for="exampleInputEmail1">Size</label>
        <br>
        <span style='min-width:50px;display:inline-block'>28 :</span><input value="28" id="size-28" name="size"   type="checkbox" (change)="selectSize($event.target.value)"><br>
        <span style='min-width:50px;display:inline-block'>30 :</span><input value="30" id="size-30" name="size"   type="checkbox" (change)="selectSize($event.target.value)" ><br>
        <span style='min-width:50px;display:inline-block'>32 :</span><input value="32" id="size-32" name="size"   type="checkbox" (change)="selectSize($event.target.value)" ><br>
        <span style='min-width:50px;display:inline-block'>34 :</span><input value="34" id="size-34" name="size"   type="checkbox" (change)="selectSize($event.target.value)" ><br>
        <span style='min-width:50px;display:inline-block'>36 :</span><input value="36" id="size-36" name="size"   type="checkbox" (change)="selectSize($event.target.value)" ><br>
        <span style='min-width:50px;display:inline-block'>38 :</span><input value="38" id="size-38" name="size"   type="checkbox" (change)="selectSize($event.target.value)" ><br>

      </div> -->
      <button [disabled]="!addProductForm.form.valid" (click)="addProduct()" class="btn btn-primary">Add Product</button>
    </form>
  </div>
</div>