<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Product : {{ currProduct.name | uppercase }} 
    </h3>
  </div>
  <div class="panel-body">
    <div class='row'>
      <div class='col-md-4'>
        <!-- <img src="{{mainImg}}" class='img-responsive img-thumbnail'> -->
        <span class='text-center' style="display: inline-block;width:80px">
          <img src="http://{{ currProduct.mainImage }}" class='img-responsive img-thumbnail' style="height:80px;width:80px;"
            (click)="showMain(currProduct.mainImage)"><br>
          <a (click)="openChangeImage()"><i class='fa fa-edit'></i></a>
        </span>
        <span *ngFor="let img of currProduct.images; let i = index" class='text-center' style="display: inline-block;width:80px">
          <img src="http://{{img}}" class='img-responsive img-thumbnail' style="height:80px;width:80px;" (click)="showMain(img)"><br>
          <a (click)="openDeleteImage(i)"><i class='fa fa-trash'></i></a>
        </span>
        <span class='text-center' style="display: inline-block;width:80px">
          <i (click)="openAddImage()" class='fa fa-plus fa-5x img-thumbnail text-primary' style="display:block;height:80px"></i>
          <a style="visibility:hidden"><i class='fa fa-plus'></i></a>
        </span>

      </div>
      <div class='col-md-8'><a [routerLink]="['/dashboard/edit-product', currProduct._id ]">EDIT <i class='fa fa-edit'></i></a>
        <table class='table btn-gradient-grey'>
          <tr>
            <td>Name</td>
            <td>{{ currProduct.name }}</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>{{ currProduct.category }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>&#x20B9;{{ currProduct.dprice }} <del>&#x20B9;{{ currProduct.aprice }}</del></td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ currProduct.description }}</td>
            <tr>
              <td>Quantity</td>
              <td><span>{{ currProduct.quantity }} &nbsp;&nbsp;</span></td>
            </tr>
            <tr>
              <tr>
                <td>Quantity Type</td>
                <td><span>{{ currProduct.quantityType }} &nbsp;&nbsp;</span></td>
              </tr>
              <tr>
              </tr>
              <tr>
                <td>Size</td>
                <td><span *ngFor="let ele of currProduct.size">{{ ele | uppercase}} &nbsp;&nbsp;</span></td>
              </tr>
              <tr>
                <td>Color</td>
                <td><span *ngFor="let ele of currProduct.color" style="height:40px; width:40px; margin-right:20px;display:block"
                    [style.background]="ele"></span></td>
              </tr>
              <tr>
                <td>Services</td>
                <td>
                  <ul class='list'>
                    <li *ngFor="let ele of currProduct.service">{{ele}}</li>
                  </ul>
                </td>
              </tr>
        </table>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <br><br>
        <h3>Specifications <a (click)="openSpecModal()" class='text-primary' style="color:black;font: 17px sans-serif;"><i
              class="fa fa-plus"></i></a></h3>
        <div class="table-responsive" *ngIf="currProduct.specifications && currProduct.specifications.length >0 ">
          <div class="bs-component">
            <table class="table btn-gradient-grey">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Specification Key</th>
                  <th>Description</th>
                  <th style='max-width:30px'>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let spec of currProduct.specifications; let i =  index">
                  <th>{{ i+1 }}</th>
                  <th>{{ spec.key }}</th>
                  <th>{{ spec.value }}</th>
                  <th>
                    <a (click)="openDeletSpeceModel(spec)" class='btn btn-danger' title="Delete Product"><i class='fa fa-trash'></i></a>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="delImageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Product Image</h4>
      </div>
      <div class="modal-body">
        <p>Are You Really Want To Delete This Product Image</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteProductImg()">Delete</button>
      </div>
    </div>
  </div>
</div>


<div id="changeImageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Product Image</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Product Image</label>
          <input class="form-control" id="image" name="image" (change)="updateImage($event.target.files)" [(ngModel)]="image" #imageEle="ngModel"
            placeholder="Enter Product Image" type="file">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="ChangeProductImage()">Change</button>
      </div>
    </div>
  </div>
</div>

<div id="addImageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Product Image</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Product Image</label>
          <input class="form-control" id="image" name="image" (change)="updateImage($event.target.files)" [(ngModel)]="image" #imageEle="ngModel"
            placeholder="Enter Product Image" type="file">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="AddProductImage()">Add</button>
      </div>
    </div>
  </div>
</div>



<div id="specModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Product Specification</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Specification Key</label>
          <input class="form-control" id="spec" name="spec" [(ngModel)]="speckey" #specEle="ngModel" placeholder="Enter Specification Key"
            type="text" required>
          <span class='text-danger' *ngIf="specEle.touched && specEle.errors && specEle.errors.required">* Please Enter Specification
            Key
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Specification Value</label>
          <input class="form-control" id="specv" name="specv" [(ngModel)]="specval" #specvEle="ngModel" placeholder="Enter Specification Value"
            type="text" required>
          <span class='text-danger' *ngIf="specvEle.touched && specvEle.errors && specvEle.errors.required">* Please Enter
            Specification Value</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="addSpec()">Add</button>
      </div>
    </div>
  </div>
</div>

<div id="specDelModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Product Specification</h4>
      </div>
      <div class="modal-body">
        <p>Are You Really Want To Delete This Product Specification</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteProductSpec()">Delete</button>
      </div>
    </div>
  </div>
</div>