<div class="data-side">
    <div class="tabz-dashboard no-print">
  </div>                <div class="box-head"><h3>Messages</h3>
    <div class="btn-view"></div></div>
                       <div class="arrowTabs-wrapper"> 
  <ul class="arrowTabs setactive-js">
            <li><a [routerLink]="['/dashboard/messages']">Inbox</a>
            </li>
            <li>
                <a [routerLink]="['/dashboard/sent-mails']">Sent Mails</a>
            </li>
                                        <li>
                    <a [routerLink]="['/dashboard/trash']">Trash</a>
                </li>
                                    <li class="active">
                <a [routerLink]="['/dashboard/compose']">Compose</a>
            </li>
        </ul>
  </div>
    <div class="space-lft-right">
            <div class="wrapformChangePassword">
                    <form  role="form" #chanegPassword="ngForm" name="frmPassword" id="frmStrengthPassword" class="siteForm" autocomplete="off">
                      <table class="tbl-twocell"><tbody><tr>
                  <td width="30%"><label>Reciever</label><span class="spn_must_field">*</span></td>
                  <td><div id="check-password-result">
                    <input type="text" title="New Password" class="strength" data-password="check-password" required minlength="3">
                    </div></td>
                  </tr><tr>
                  <td width="30%"><label>Enter message</label><span class="spn_must_field">*</span></td>
                  <td>
                        <textarea name="urmsg" title="Confirm New Password" style="height: 12% !important;" rows="4" cols="50" required id="ub_bank_address" title="Bank Address"></textarea>
                  </td>
                  </tr><tr>
                  <td width="30%"></td>
                  <td>
                    <!-- <input type="submit" name="btn_submit" [disabled]="!chanegPassword.form.valid" (click)="doChangePassword()" id="btn_submit" title="" value="Save Changes"> -->
                    <button type="submit" class="btn btn-danger" name="btn_submit" id="btn_submit">Send</button>
                  </td>
                  </tr></tbody></table></form>
                                    </div>
    </div>
  </div>