.data-side {
    vertical-align: top;
    display: table-cell;
    width: 1028px;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    padding-bottom: 20px;
}
div,table,tbody,tr,label,td,img {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a.btn.small {
    font-size: 0.875em;
    padding: 5px 7px;
    min-height: inherit;
    line-height: 1.5;
    height: auto;
}
a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.btn--primary, input[type="submit"].btn--primary {
    background: #ff0000;
    color: #fff;
}
.btn,a.btn{
    background: #FF0000;
}
.btn, .form input[type="submit"], .form input[type="button"], .form button, .siteForm input[type="submit"], .siteForm input[type="button"], .siteForm button {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    touch-action: manipulation;
    cursor: pointer;
    border: solid 1px transparent;
    white-space: nowrap;
    padding: 0px 15px;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
    color: #fff;
}

img {
    max-width: 100%;
    display: block;
}
.tabz-dashboard .tabz-ul {
    position: relative;
    top: -51px;
    margin-bottom: -50px;
    display: block;
    height: 50px;
    margin-left: 170px;
    display: table;
}

ul {
    list-style: none outside;
}
ul, ol {
    margin-bottom: 0px;
}
ol, ul {
    list-style: none;
}
.tabz-dashboard .tabz-ul li {
    border: solid 1px transparent;
    cursor: pointer;
    color: #fff;
    border-bottom: none;
    font-size: 1.28em;
    /* text-transform: uppercase; */
    display: inline-block;
    background: #727272;
    background: #b6b6b6;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    margin: 0px 5px;
}
li {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
.tabz-dashboard .tabz-ul li a {
    color: #fff;
    display: block;
    padding: 0px 60px;
    line-height: 50px;
    text-decoration: none;
}

a, a:visited {
    line-height: normal;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.box-head {
    display: inline-block;
    width: 100%;
}
.data-side h3 {
    color: #000;
    text-align: left;
    font-size: 1.28em;
    /* text-transform: uppercase; */
    font-weight: 600;
    padding: 15px 15px;
    /* display: inline-block; */
}
.box-head h3 {
    display: inline-block;
}
h3 {
    text-transform: none;
    margin: 0;
    line-height: normal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
}
.btn-view {
    padding: 15px;
    float: right;
}
.arrowTabs {
    display: inline-block;
    margin: 0 0px 15px 15px;
}
ul{
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.arrowTabs li {
    float: left;
    position: relative;
    margin: 0 0 0 -1px;
}
li {
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    display: list-item;
    text-align: -webkit-match-parent;
}
.arrowTabs li:first-child a {
    border-radius: 3px 0 0 3px;
}
.arrowTabs li.active a {
    background: #727272;
    color: #FFF;
}
.arrowTabs li a {
    position: relative;
    height: 36px;
    display: block;
    padding: 0 15px;
    line-height: 33px;
    font-size: 1.071em;
    border: 1px solid #727272;
    color: #727272;
}
.space-lft-right {
    padding: 0px 15px;
}
.wrapform {
    width: 100%;
    border: 1px solid #ddd;
    background: #f1f0f0;
    padding: 15px;
    margin: 0 0 20px 0;
    position: relative;
}
.wrapform>.table-responsive {
    border: 0;
    margin-bottom: 0;
}
.table-responsive table {
    border-spacing: 0;
}
.wrapform>.table-responsive:last-child>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.wrapform>.table:last-child, .wrapform>.table-responsive:last-child>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.wrapform>.table, .wrapform>.table-responsive>.table, .wrapform>.table {
    margin-bottom: 0;
}
.br-t {
    border-top: 1px solid #eeeff1 !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-spacing: 0 8px;
    border-collapse: initial;
}
.allcp-form {
    color: #2a2f43;
    font-size: 13px;
}
.allcp-form {
    line-height: 1.231;
    font-weight: 400;
    font-size: 14px;
    color: #2a2f43;
}
.allcp-form, .allcp-form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.table-responsive table thead tr th {
    padding: 5px 15px;
    background: #2a3342;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5em;
}
td, th {
    display: table-cell;
}
.allcp-form, .allcp-form * {
    box-sizing: border-box;
}
.text-center {
    text-align: center !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    vertical-align: middle;
}
.table-responsive table thead tr th {
    padding: 5px 15px;
    background: #2a3342;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5em;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
}
.table>thead>tr>th {
    text-transform: uppercase;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    vertical-align: middle;
}
th {
    text-align: left;
}
td, th {
    display: table-cell;
}
.text-center {
    text-align: center !important;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-responsive table tbody tr {
    background: white;
    transition: 1s;
}
body.basic-messages #message-table>tbody>tr {
    cursor: pointer;
}
.table-responsive table tbody tr td {
    background: none;
    border-radius: 0;
    border: none;
}
.allcp-form .switch, .allcp-form .option, .allcp-form .field-label {
    font-size: 13px;
}
.allcp-form .block {
    display: block;
}
label {
    max-width: 100%;
}
.allcp-form, .allcp-form * {
    box-sizing: border-box;
}
.mn {
    margin: 0 !important;
}
.allcp-form label, .allcp-form input, .allcp-form button, .allcp-form select, .allcp-form textarea {
    font-weight: 500;
    outline: none;
}
.allcp-form .radio, .allcp-form .option, .allcp-form .checkbox {
    cursor: pointer;
}
.allcp-form .option {
    position: relative;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.allcp-form .switch, .allcp-form .option, .allcp-form .field-label {
    font-size: 13px;
}
.allcp-form .block {
    display: block;
}
.allcp-form .option > input {
    position: absolute;
    height: inherit;
    width: inherit;
    opacity: 0;
    left: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.allcp-form label, .allcp-form input, .allcp-form button, .allcp-form select, .allcp-form textarea {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.allcp-form, .allcp-form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}
input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.table-responsive table tbody tr td span.checkbox, .table-responsive table tbody tr td span.radio {
    border: 1px solid #f5f5f5 !important;
    box-shadow: 0 -2px #e5e5e5 !important;
}

.table.allcp-form .checkbox, .table.allcp-form .radio, .table.allcp-form input:checked+.checkbox, .table.allcp-form input:checked+.radio, .table.allcp-form input:not([disabled]):hover+.checkbox, .table.allcp-form input:not([disabled]):hover+.radio {
    border-color: transparent !important;
}
.allcp-form input:checked+.checkbox, .allcp-form input:checked+.radio {
    border-color: #a9a9ab;
}
.allcp-form input:checked+.checkbox, .allcp-form input:checked+.radio {
    border-width: 2px;
    border-color: #dddfe3;
}
.allcp-form input:checked + .checkbox, .allcp-form input:checked + .radio {
    border: 3px solid #a9a9ab;
}
.table.allcp-form .checkbox, .table.allcp-form .radio {
    top: 2px;
}
.allcp-form .checkbox, .allcp-form .radio {
    background: #fff;
}
.allcp-form .checkbox, .allcp-form .radio {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    background: #fff;
    display: inline-block;
    border: 2px solid #dddfe3;
    height: 21px;
    width: 21px;
    top: 4px;
}
.allcp-form .radio, .allcp-form .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    top: 1px;
    vertical-align: bottom;
}
.allcp-form .checkbox, .allcp-form .radio {
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    background: #fff;
    display: inline-block;
    border: 3px solid #a9a9ab;
    height: 16px;
    width: 16px;
    min-height: 16px;
    top: 4px;
}
.allcp-form .rating {
    overflow: hidden;
}
.mn {
    margin: 0 !important;
}
.pull-left {
    float: left !important;
}
.allcp-form .rating.block {
    display: block;
}
.allcp-form .rating-input {
    position: absolute;
    left: -9999px;
    top: auto;
}
.allcp-form.theme-warning .rating-star, .allcp-form.theme-warning .rating:hover .rating-star {
    color: #b9bbc5;
}

.allcp-form.theme-warning .rating-star, .allcp-form.theme-warning .rating:hover .rating-star {
    color: #b9bbc5;
}
.allcp-form .rating label {
    color: #CCC;
}
.allcp-form .rating label {
    color: #CCC;
}
.allcp-form .rating-star, .allcp-form .rating:hover .rating-star {
    color: #CCC;
}
.allcp-form .rating-star, .allcp-form .rating:hover .rating-star {
    width: 18px;
    float: right;
    display: block;
    cursor: pointer;
    color: #CCC;
}
.allcp-form .rating-star {
    margin-left: 4px;
}
.allcp-form label, .allcp-form input, .allcp-form button, .allcp-form select, .allcp-form textarea {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}
.allcp-form, .allcp-form * {
    box-sizing: border-box;
}
.allcp-form .rating label i {
    font-size: 19px;
    color: inherit;
}

.allcp-form .rating label i {
    font-size: 17px;
    text-align: center;
    color: inherit;
}
.va-m {
    vertical-align: middle !important;
}
.glyphicon, .glyphicons, .imoon, .fa, .iconsweets {
    opacity: 1;
    transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    -webkit-transition: opacity .1s ease-in;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.table-responsive table tbody tr td {
    background: none;
    border-radius: 0;
    border: none;
}
.table-responsive table tbody tr:nth-child(2n) {
    background: #f4f7f9;
}

.panel .panel-menu {
    margin-top: 30px;
}

.br-n {
    border: none !important;
}
.mtn {
    margin-top: 0 !important;
}
.pn {
    padding: 0 !important;
}
.wrapform .panel-menu {
    background-color: #fafafa;
    padding: 12px;
    border: 1px solid #dfdfdf;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.row {
    margin-left: -3.48837209px;
    margin-right: -3.48837209px;
}
.col-md-3 {
    width: 25%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-default.light {
    background-color: #FAFAFA;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
    float: left;
}
.text-dark {
    color: #191315 !important;
}
.btn-default {
    color: #191315;
    background-color: #e5eaee;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.12) rgba(0,0,0,0.15);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    background-image: none;
    border: 0;
    border-color: rgba(0,0,0,0.07) rgba(0,0,0,0.1) rgba(0,0,0,0.18);
    white-space: nowrap;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    letter-spacing: .02em;
    transition: 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.glyphicon, .glyphicons, .imoon, .fa, .iconsweets {
    opacity: 1;
    transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    -webkit-transition: opacity .1s ease-in;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -1px;
}
.btn-default.light {
    background-color: #FAFAFA;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
    float: left;
}
.text-dark {
    color: #191315 !important;
}
.btn-default {
    color: #191315;
    background-color: #e5eaee;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.12) rgba(0,0,0,0.15);
}
.btn-dark.light {
    background-color: #2a2024;
}
b, strong {
    font-weight: bold;
}
.mr10 {
    margin-right: 10px !important;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}