<div id="main" style="max-width:100%">
	<app-header ></app-header>
	<section id="content_wrapper" style="margin:0px;" >
		<section  class="content_container">
			<app-breadcrumbs ></app-breadcrumbs>
			<section class="animated fadeIn pt35" id="content">
				<app-navigation ></app-navigation>
				<div class="table-layout content-right" style="margin-left:10px">
					<div class="chute chute-center pbn">
						<div class="row mn">
							<div class="col-xs-12">
							<router-outlet></router-outlet>
							</div>
						</div>
					</div>
				</div>
			</section>
			<app-footer ></app-footer>
		</section>
	</section>
</div>

